html, body {
    color: black;
    background: url('/src/pizza-bg.jpg');
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

button {
    background: black;
    color: white;
    border-radius: 8px;
    border: red 1px solid;
    padding: 30px;
}

#title {
    font-size: 12rem;
    color: white;
}