@font-face {
  font-family: "Air America";
  src: url("/src/assets/airamerica-regular-webfont.woff");
}

:root {
  --yellow: rgb(253, 204, 57);
}

html {
  background: url("./assets/pizza-bg.jpg");
  background-color: rgba(0, 0, 0, 0.725);
  background-blend-mode: overlay;
  background-attachment: fixed;
}

html,
body {
  color: black;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: sticky;
  top: 0;
}

header h1,
.footer-right-column p,
.footer-left-column p,
.about-div h1,
.about-title,
.menu-title,
#title {
  font-family: "Air America", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

footer,
.order-button,
.menu-item,
.menu-item h2,
.about-div p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header,
button,
footer,
.menu-item,
.order-button,
.select-menu {
  background-color: black;
}

header,
button,
footer,
.odin-blurb,
#title,
.order-button,
.menu-item,
.menu-title,
.select-menu,
.about-title,
.about-div {
  color: white;
}

header,
.odin-blurb,
.menu-item,
.menu-title {
  text-align: center;
}

.footer-hours th,
.footer-right-column p,
.footer-left-column p {
  text-align: left;
}

.socials-icon,
.footer-hours th,
td {
  padding: 4px;
}

nav,
.title-div,
.footer-div,
.footer-left-column,
.order-button div,
.home-content,
.menu-item,
.cart-select-div,
.about-div {
  display: flex;
}

.title-div,
.order-button-div,
.home-content,
.about-div,
nav {
  align-items: center;
}

.footer-hours td,
.order-button,
.about-div p {
  font-size: 1rem;
}

.socials-icon:hover,
.order-button:hover,
.add-to-cart:hover,
.button-div button:hover {
  cursor: pointer;
}

.order-button,
.menu-item h2 {
  text-transform: uppercase;
}

.footer-left-column,
.home-content,
.menu-item {
  flex-direction: column;
}

.order-button-div,
.menu-item,
.cart-select-div,
nav {
  justify-content: space-between;
}

.about-div,
.home-content {
  justify-content: center;
}

.order-button,
.menu-item h2 {
  font-style: italic;
}

.socials-icon,
#footer-arrow,
.add-to-cart {
  width: auto;
}

.socials-icon,
.add-to-cart {
  height: 2rem;
}

.menu-div,
nav {
  padding-left: 4rem;
}

footer,
.order-button
{
  padding-left: 6rem;
}

.socials-icon,
.footer-right-column p,
.footer-left-column p
{
padding-bottom: 1rem;
}

nav,
footer,
.order-button {
  padding-right: 6rem;
}

button {
  border-radius: 90px;
  border: none;
  padding: 30px;
  margin: 1rem;
}

.button-div button:hover {
  text-decoration: underline;
}

.title-div,
.order-button-div {
  gap: 1rem;
}

.header-icon {
  width: 3rem;
  height: 3rem;
}

footer {
  margin-top: 12rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-div {
  justify-content: space-around;
  align-items: baseline;
  gap: 8rem;
}

.odin-blurb {
  padding-top: 6rem;
  font-size: 0.75rem;
}

#footer-arrow {
  height: 0.75rem;
  padding-left: 1ch;
}

.footer-hours {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 500px;
}

.footer-hours th {
  font-size: 1.25rem;
}

.footer-left-column {
  justify-content: flex-start;
}

.footer-right-column p,
.footer-left-column p {
  font-size: 2rem;
  padding-bottom: 8px;
  color: var(--yellow);
}

.footer-left-column div {
  padding-bottom: 1rem;
}

#title {
  font-size: 12rem;
}

.order-button {
  font-weight: bold;
  border-radius: 90px;
  margin-top: -100px;
}

.order-button:hover {
  background-color: rgb(37, 13, 13);
}

.order-button-arrow {
  height: 0.75rem;
  width: 0.75rem;
}

.home-content {
  gap: 1px;
}

.menu-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
  padding-right: 4rem;
}

.menu-item {
  padding: 3rem;
  border-radius: 8px;
}

.menu-item h2 {
  color: var(--yellow);
}

.menu-item-image {
  width: 200px;
  height: 200px;
}

.menu-title {
  font-size: 4rem;
}

.select-menu {
  border: solid 1px white;
  padding: 6px;
  border-radius: 4px;
}

.cart-select-div {
  align-items: bottom;
  margin-top: 2rem;
}

.about-title {
  font-size: 6rem;
}

.about-div {
  padding: 1rem;
  border-radius: 8px;
  gap: 2rem;
  margin: 2rem;
}

.about-div h1 {
  font-size: 7rem;
  padding: 4rem;
}

.about-div p {
  line-height: 2.5;
  width: 75ch;
}
